.container2 {
  height: 560px;

  width: 1117px;
  margin: 0 auto;
  background: rgba(240, 99, 184, 0.15);
  margin-bottom: 20px;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.container-c {
  padding-top: 10em;
}

.container-image {
  margin-left: -40px;
}


